In [10]:
import pandas as pd
dict = {"city" : ["mumbai","mumbai","mumbai","paris","paris"], "windspead" : [5,6,7,7,7] , 
        "event" : ["rain","rain","rain","sunny","cloud"]}

In [12]:
df = pd.DataFrame(dict)
g = df.groupby("city")
g

In [14]:
for city , city_df in g:
    print(city , city_df)
g.get_group("mumbai")

mumbai      city  windspead event
0  mumbai          5  rain
1  mumbai          6  rain
2  mumbai          7  rain
paris     city  windspead  event
3  paris          7  sunny
4  paris          7  cloud

     city  windspead event
0  mumbai          5  rain
1  mumbai          6  rain
2  mumbai          7  rain

In [17]:
g.mean()

        windspead
city
mumbai          6
paris           7