In [26]:
import pandas as pd

In [31]:
india_weather = {"city" : ["mumbai", "delhi", "banglore","mumbai"],
                "tempreature" : [32,45,30,40],
                "humidity": [80,60,78,80]}
india_weather = pd.DataFrame(india_weather)

In [32]:
india_weather.pivot(index = "tempreature",columns="humidity", values = ["city"])

              city
humidity        60        78      80
tempreature
30             NaN  banglore     NaN
32             NaN       NaN  mumbai
40             NaN       NaN  mumbai
45           delhi       NaN     NaN

In [30]:
india_weather.pivot_table(index= "city", columns = "humidity")

         tempreature
humidity          60    78    80
city
banglore         NaN  30.0   NaN
delhi           45.0   NaN   NaN
mumbai           NaN   NaN  36.0