In [8]:
import pandas as pd 
india_weather = {"city" : ["mumbai", "delhi", "banglore","mumbai"],
                "tempreature" : [32,45,30,40],
                "humidity": [80,60,78,80]}
india_weather = pd.DataFrame(india_weather)

india_weather.melt() # it will keep onlt one column
df = india_weather.melt(id_vars=  ["city"], var_name="temp",value_name ="temp_value") # it will display one column as city and other as city value
df

       city     variable  value
0    mumbai  tempreature     32
1     delhi  tempreature     45
2  banglore  tempreature     30
3    mumbai  tempreature     40
4    mumbai     humidity     80
5     delhi     humidity     60
6  banglore     humidity     78
7    mumbai     humidity     80